.chat-screen{
    
    height:200vh;
}
.chat-screen .status-bar{
    z-index: 2;/*z-index:레이어 층(오름차순)*/
}
.chat-screen .alt-header{
    top:0;
    position: fixed;
    width:var(--bodyWidth);
    box-sizing: border-box;
    background:white;
     z-index: 1;
}

.main-chat{
    margin-top:83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.chat__timestamp{
    padding:6px 10px;
    color:white;
    background:rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 15px;
    font-size:12px;
    margin-bottom: 25px;
   
}
@keyframes fadeIn{
    from{
        transform: translateY(30px);
        
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.message-row{
    width:100%;
    display: flex;
    margin-bottom: 40px;
    animation: fadeIn 0.8s linear forwards;
    opacity: 0;
}
.message-row:last-child{
    animation-delay: 0.5s;
}

.message-row img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 13px;
}
.message__author{
    margin-top: 8px;
    font-size:15px;
    margin-bottom: 10px;
    display: block;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__bubble{
    background:var(--lightColor);
    display: block;
    border-radius: 10px;
    border-top-left-radius: 0px;
    padding:8px 10px;
    font-size: 14px;
    color:#49582B;
    
}
.message__time{
    font-size:10px;
    margin-left:5px;
    color:var(--gray);
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}
.message-row--own .message__bubble{
    margin-left:5px;
    border-radius: 10px;
    border-top-right-radius: 0px;
}
.reply{
    
    position: fixed;
    bottom:0;
    width:var(--bodyWidth);
    background:var(--lightColor);
    display: flex;
    justify-content: space-between;
    padding:10px 16px;
    align-items: center;
    box-sizing: border-box;
    color:var(--gray);
    transition: transform 0.5s ease-in-out;
    
}
.reply__column:first-child{
    width:11%;
}
.reply__column:first-child i{
    font-size:25px;
}
.reply__column:last-child{
    width:89%;
    position: relative;
    display: flex;
    align-items: center;
}
.reply__column:last-child input{
    box-sizing: border-box;
    position: absolute;
    padding:10px;
    width:100%;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
   
}

.reply__column:last-child > i{
    position: absolute;
    right:40px;
    font-size:25px;
    color:var(--gray);
}
.reply__column:last-child button{
    position: absolute;
    width:28px;
    height:28px;
    border-radius: 50%;
    right:3px;
    background: var(--rootColor);
    

}
.reply__column:last-child button i{
    font-size:18px;
    color:white;
}

.reply .reply__column:first-child, .reply .fa-grin-wink, .reply button{
    transition: opacity 0.3s ease-in-out;
   
}

.reply:focus-within .reply__column:first-child, .reply:focus-within .fa-grin-wink, .reply:focus-within button{
    opacity: 0;
   
}
.reply:focus-within input{
    width:113%;
    transform:translateX(-11%) translateY(-80px);
    background:var(--lightColor);
    
}
.reply:focus-within{
    transform: translateY(80px);
    
}